/*start form login*/
.bodylogin{
    background : #FFF;
    background: url("../images/icon/bg.png") no-repeat;
    background-size: cover;
    margin-top:0;
}
.login{
      width:350px;
      min-height:350px;
      border:#D9534F solid 1px;
      background:rgba(255,255,255,0.6);
      padding:20px;
      margin:20px auto;
      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}
.login i{
    color:#D9534F;
}
.login h1{
        font-size:28px;
        color:#D9534F;
        text-align:center;
}
@media(max-width:450px) {
    .login{
      width:300px;
    }
}
/*end form login*/

/*Template admin*/

body {
    margin-top: 150px;
    background-color: #fff;
}

#wrapper {
    padding-left:0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

/* Side Navigation */

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }

    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        bottom:0px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #4FD9CF;
    }

    .side-nav>li>a {
        width: 225px;
        border: #eee solid 1px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;

    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #222;
}
/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}
.navbar-inverse {
    background-color: #4FD9CF;
    border-color: #32A199;
}
.navbar a.navbar-brand{
    color:#fff;
}
.navbar-inverse .navbar-nav li a{
    color:#fff;
        font-size:14px;
    }
.navbar-inverse .navbar-nav li ul li a{
    color:#000;
    font-size:14px;
    min-width:225px;
    border-bottom:#BBB solid 1px;
    }
.navbar-inverse .navbar-nav li ul li a:hover{
    color:#fff;
}

/*Template admin*/